@import url('assets/themes/default-theme.css');
@import url('assets/boxicons/css/boxicons.min.css');

body {
    margin: 0;
    font-family: 'Monospace', monospace;
    font-style: normal;
    font-size: 14px;
    color: var(--text-color-dark);
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--background-gray);
    width: 11rem;
    height: 100vh;
    color: var(--text-color-dark);
    transition: width 0.3s ease;
    border-right: 0.1rem solid black;
}

.sidebar.hidden {
    width: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
}

.sidebar ul li {
    border-radius: 0.2rem;
    padding: 0.5rem;
    transition: background-color 0.1s;
}

.sidebar ul li a {
    /* text-decoration: none; */
    color: var(--text-color-dark);
    text-wrap: nowrap;
    user-select: none;
}

li > a > .bx {
    color: var(--text-color-dimmed);
    padding-right: 0.5rem;
}

/* CONTENT */

.content {
    background-color: var(--background-light);
    flex: 1;
    padding: 0.5rem;
}

/* TOOLBAR */

.toolbar {
    height: 2.19rem;
    width: 100%;
    background-color: var(--background-light);
    color: var(--text-color-dark);
    display: inline-flex;
    align-items: center;
}

.button#menu-toggle {
    border-radius: 0.2rem;
    height: 100%;
    width: 2.5rem;
    background-color: var(--background-light);
    border: none;
    color: var(--text-color-dimmed);
    display: inline-block;
    cursor: pointer;
}

.toolbar-title {
    user-select: none;
    font-weight: 500;
    margin-left: 1rem;
}

.site-title {
    color: var(--text-color-dimmed);
    padding: 0 0.5rem;
    margin: 0;
    font-size: 1.5rem;
    user-select: none;
    padding-bottom: 0.15rem;
    width: 100%;
    text-align: end
}

#menu-toggle>.bx {
    font-size: 1.75rem;
}

/* DYNAMIC TEMPLATE */

.template {
    padding: 0.5rem;
    width: min(93vw, 40rem);
    background-color: var(--background-light);
    height: calc(100vh - 5rem);
}

/* BLOG */

.column-title {
    font-weight: 500;
    width: min(93vw, 40rem);
}

.column-paragraph {
    width: min(93vw, 40rem);
}

.column-image {
    width: min(93vw, 40rem);
}
