@import url('assets/themes/dark-theme.css');
@import url('assets/boxicons/css/boxicons.min.css');

:root {
    --toolbar-height: 3rem;
    --standard-padding: 0.5rem;
    --separator: 0.1rem solid var(--color-dimmed);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */

.logo-section {
    height: var(--toolbar-height);
    border-bottom: var(--separator);
}

.sidebar {
    width: 10rem;
    background-color: var(--color-dark);
    color: var(--color-dark);
    transition: width 0.3s ease;
    border-right: var(--separator);
}

.sidebar.hidden {
    width: 0;
    min-width: none;
}

.sidebar ul {
    list-style-type: none;
    padding: var(--standard-padding);
    margin: 0;
}

.sidebar ul li {
    padding: var(--standard-padding);
    transition: background-color 0.1s;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--color-light);
    text-wrap: nowrap;
    user-select: none;
}

li>a>.bx {
    color: var(--color-light);
    padding-right: var(--standard-padding);
}

/* CONTENT */

.content {
    background-color: var(--color-dark);
    width: 100%;
}

/* TOOLBAR */

.toolbar {
    padding: var(--standard-padding);
    height: var(--toolbar-height);
    width: 100%;
    background-color: var(--color-dark);
    color: var(--color-dark);
    display: inline-flex;
    align-items: center;
    border-bottom: var(--separator);
}

.toolbar-title {
    user-select: none;
    font-weight: 500;
    margin-left: 0.5rem;
    color: var(--color-light);
}

.button#menu-toggle {
    height: 100%;
    width: 2.5rem;
    background-color: var(--color-dark);
    border: none;
    color: var(--color-dimmed);
    display: inline-block;
    cursor: pointer;
}

#menu-toggle>.bx {
    color: var(--color-soft);
    font-size: 1.75rem;
}

/* DYNAMIC TEMPLATE */

.template {
    padding: 1.25rem;
    background-color: var(--color-dark);
}

/* BLOG */

.column-title {
    color: var(--color-light);
    font-weight: 600;
    width: min(100%, 30rem);
}

.column-paragraph {
    color: var(--color-light);
    text-align: justify;
    text-justify: inter-word;
    width: min(100%, 30rem);
}

.separator {
   border-color: var(--color-dimmed);
}