@import 'assets/boxicons/css/boxicons.min.css';
@import 'components/blog.css';	
@import 'components/sidebar.css';
@import 'components/toolbar.css';

:root {
    --toolbar-height: 3rem;
    --standard-padding: 0.5rem;
    --separator: 0.1rem solid var(--color-dimmed);
    --border-radius: 0.25rem;
}

* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.layout {
    background-color: var(--color-dark);
    display: flex;
    height: 100vh;
}

.main {
    background-color: inherit;
    width: 100%;
}

.template {
    padding: var(--standard-padding);
}
