/* global variables*/
:root {
    --gradient-start: #c57432;
    --gradient-end: #977c02;

    --surface-border: #efece6;
    --surface-hover: #f6f5ecdf;
    --color-white: #1d1d1d;
    --color-light: #4e4e4e;
    --color-soft: #969696;
    --color-dimmed: #f6eee1;
    --color-dark: #edeae2;
    --color-darker: #e7e1d2;
}