/* global variables*/
:root {
    --gradient-start: #c57432;
    --gradient-end: #977c02;

    --surface-hover: #faf9f3be;
    --color-white: #1d1d1d;
    --color-light: #4e4e4e;
    --color-soft: #969696;
    --color-dimmed: #dddad5;
    --color-dark: #f8f3ea;
}