/* BLOG */

.card-paragraph {
    line-height: 1.2;
    color: var(--color-light);
    text-align: justify;
    margin-bottom: calc(var(--standard-padding) *2);
}

.separator {
    border-color: var(--color-dimmed);
}