/* BLOG */

.blog-box {
    padding: calc(var(--standard-padding) *2);
    width: min(100%, 35rem);
    background-color: var(--surface-hover);
    border-radius: var(--border-radius);
}

.column-title {
    color: var(--color-light);
    font-weight: 600;
}

.column-paragraph {
    color: var(--color-light);
    text-align: justify;
}

.separator {
    border-color: var(--color-dimmed);
}

.blog-date {
    color: var(--color-light);
    font-weight: 500;
    font-style: italic;
    text-align: end;
    margin-block-start: 0;
    margin-block-end: 0;
}