/* SIDEBAR */

.logo-section {
    height: var(--toolbar-height);
    border-bottom: var(--separator);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: var(--standard-padding);
}

.logo {
    background-image: linear-gradient(to right, var(--gradient-start) 35%, var(--gradient-end));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: var(--standard-padding);
    width: 100%;
    text-transform: uppercase;
    font-size: 0.7rem;
    user-select: none;
    font-weight: 700;
    text-wrap: nowrap;
    &:hover {
        background-image: linear-gradient(to left, var(--gradient-start)  35%, var(--gradient-end));
    }
}

.favicon {
    padding: calc(var(--standard-padding)/2);
}

.sidebar {
    transform: translateX(-12rem);
    width: 12rem;
    color: var(--color-dark);
    border-right: var(--separator);
    background-color: var(--color-dark);
    z-index: 1;
    box-shadow: none;
}

.sidebar.show {
    transform: translateX(0);
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2); /* Sombra al lado derecho */
    /* border-right: none; */
}

.sidebar ul {
    list-style-type: none;
    padding: var(--standard-padding);
    margin: 0;
}

.sidebar ul li {
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-light);
    text-wrap: nowrap;
    user-select: none;
    padding: var(--standard-padding);
    border-radius: var(--border-radius);
    &>.bx {
        color: var(--color-soft);
        padding-right: calc(var(--standard-padding)/2);
    }
}

.sidebar ul li:hover {
    background-color: var(--surface-hover);
    color: var(--color-white);
    &>.bx {
        color: var(--color-light);
    }
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-text {
    text-align: center;
    font-size: 0.7rem;
    color: var(--color-soft);
    padding: var(--standard-padding);
}
