/* SIDEBAR */

.logo-section {
    height: var(--toolbar-height);
    border-bottom: var(--separator);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: var(--standard-padding);
}

.logo {
    background-image: linear-gradient(to right, var(--gradient-start) 50%, var(--gradient-end));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: var(--standard-padding);
    width: 100%;
    text-transform: uppercase;
    font-size: 1.3rem;
    user-select: none;
    font-weight: 700;
    text-wrap: nowrap;
    &:hover {
        background-image: linear-gradient(to left, var(--gradient-start)  50%, var(--gradient-end));
    }
}

.favicon {
    padding: calc(var(--standard-padding)/2);
}

.sidebar {
    width: 12rem;
    color: var(--color-dark);
    border-right: var(--separator);
}

.sidebar.hidden {
    width: 0;
    border-right: none;
}

.sidebar ul {
    list-style-type: none;
    padding: var(--standard-padding);
    margin: 0;
}

.sidebar ul li {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-light);
    text-wrap: nowrap;
    user-select: none;
    padding: var(--standard-padding);
    border-radius: var(--border-radius);
    &>.bx {
        color: var(--color-soft);
        padding-right: var(--standard-padding);
    }
}

.sidebar ul li:hover {
    background-color: var(--surface-hover);
    color: var(--color-white);
    &>.bx {
        color: var(--color-light);
    }
}