/* TOOLBAR */

.toolbar {
    padding: var(--standard-padding);
    height: var(--toolbar-height);
    width: 100%;
    color: var(--color-dark);
    display: inline-flex;
    align-items: center;
    border-bottom: var(--separator);
}

.toolbar-title {
    line-height: 1.4;
    font-size: 1.4rem;
    height: 100%;
    text-transform: uppercase;
    user-select: none;
    font-weight: 500;
    margin-left: 0.5rem;
    color: var(--color-light);
    &:hover {
        color: var(--color-white);
    }
}

.icon-button#theme-toggle {
    margin-left: auto;
}
